    <!-- <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker opened="true"></mat-datepicker> -->

<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <mat-calendar [dateFilter]="myFilter" ></mat-calendar>
                </div>
        </div>
        <div class="col-2">
            <div class="time">
                <div class="day-month-year">
                    <p>friday, feb 11</p>
                </div>
                <div class="hr" *ngFor="let time of availableTime">
                    <button class="hr-btn">{{time}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
